<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MindScan</title>
    <link rel="stylesheet" href="/src/styles/global.css">
    <link rel="icon" type="image/svg+xml" href="/public/favicon.webp">
</head>
<body>
    <table role="presentation">
        <tr>
            <td>
                <!-- Header -->
                <table role="presentation" class="header">
                    <tr>
                        <td>
                            <img src="https://res.cloudinary.com/petroshore/image/upload/f_auto,q_auto/MindScan/Petroshore-Logo" alt="MindScan">
                        </td>
                    </tr>
                </table>

                <!-- Main Content -->
                <table role="presentation" class="main-content">
                    <tr>
                        <td>
                            <p>Welcome, <strong>{{name}}</strong></p>
                            <h1>You have been registered to MindScan</h1>

                            <!-- Botón -->
                            <table role="presentation">
                                <tr>
                                    <td class="MindScanBTN-container">
                                        <a href="{{HOMEPAGEURL}}" target="_blank" class="MindScanBTN">Go to MindScan</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <!-- Footer -->
                <table role="presentation" class="footer">
                    <tr>
                        <td>
                            <p>2025 MindScan. Todos los derechos reservados.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
